.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
}



body {
  background-image: url('https://img.freepik.com/premium-vector/pizza-slice-seamless-pattern-background_573652-1142.jpg?w=1060');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
}


form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: left;
  }
  
  input[type="text"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  margin-right: 3%;
  opacity: 100%;
}

.content {
  padding: 30px;
  text-align: center;
}

body{
  font-family: 'Exo', sans-serif;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


